@font-face {
  font-family: "decoline";
  src: url("asset/fonts/Cafe24Decoline.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #223640; /* 배경 색상 설정 */
  overflow-x: hidden; /* 수평 스크롤바 숨기기 */
  overflow-y: hidden; /* 수직 스크롤바 숨기기 */
}

.turntable {
  position: relative; /* 위치를 부모 요소를 기준으로 설정 */
  margin: auto; /* 중앙 정렬 */
  display: block; /* 블록 요소로 표시 */
  margin-top: 12%;
  margin-bottom: 8%;
  width: 310px; /* 너비 설정 */
  aspect-ratio: 31 / 28;
  background: #CC99FF; /* 배경 색상 설정 */
  border-radius: 5%; /* 둥근 모서리 설정 */
  box-shadow: inset 0 0 10px rgba(255,255,255,0.7); /* 내부 그림자 설정 */
}

.platter {
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  left: 35px; /* 왼쪽에서 35px 떨어짐 */
  top: 35px; /* 위에서 35px 떨어짐 */
  width: 200px; /* 너비 설정 */
  aspect-ratio: 1 / 1;
  background: black; /* 배경 색상 설정 */
  border-radius: 50%; /* 원형으로 만듦 */
}

.platter::before {
  content: ''; /* 가상 요소 생성 */
  left: 50%; /* 부모 요소의 가운데 정렬 */
  top: 50%; /* 부모 요소의 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬 보정 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  width: 180px; /* 너비 설정 */
  aspect-ratio: 1 / 1;
  background: repeating-radial-gradient(black, black 5px, #1C1C1C 6px, #1C1C1C 7px); /* 반지름 반복 배경 그라디언트 */
  border-radius: 50%; /* 원형으로 만듦 */
}

.record {
  display: none; /* 기본적으로 숨김 */
  z-index: 1; /* 기본적으로 rectangle 뒤에 위치 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  left: 35px;
  top: 35px;
  width: 200px; /* 너비 설정 */
  aspect-ratio: 1 / 1;
  background: black; /* 배경 색상 설정 */
  border-radius: 50%; /* 원형으로 만듦 */
}

.record.active {
  display: block; /* 활성화 시 보임 */
  /* platter 위로 올라가는 위치 조정 필요 */
}

.record.webkit {
  -webkit-animation: spin 1s infinite linear; /* 웹킷 브라우저용 회전 애니메이션 */
          animation: spin 1s infinite linear; /* 회전 애니메이션 */        
}

@keyframes spin {
  0% {
    transform: none; /* 초기 상태 */
  }
  100% {
    transform: rotate(360deg); /* 360도 회전 */
  }
}

.record::before {
  content: ''; /* 가상 요소 생성 */
  left: 50%; /* 부모 요소의 가운데 정렬 */
  top: 50%; /* 부모 요소의 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬 보정 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  width: 180px; /* 너비 설정 */
  aspect-ratio: 1 / 1;
  background: repeating-radial-gradient(black, black 5px, #1C1C1C 6px, #1C1C1C 7px); /* 반지름 반복 배경 그라디언트 */
  border-radius: 50%; /* 원형으로 만듦 */
}

.overlay {
  display: none; /* 기본적으로 숨김 */
  z-index: 1; /* 기본적으로 rectangle 뒤에 위치 */
}

.overlay.active {
  display: block; /* 활성화 시 보임 */
  content: ''; /* 가상 요소 생성 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  width: 200px; /* 너비 설정 */
  aspect-ratio: 1 / 1;
  background: linear-gradient(45deg, transparent, 40%, rgba(255,255,255,0.35), 60%, transparent); /* 45도 선형 그라디언트 */
  border-radius: 50%; /* 원형으로 만듦 */
}

.inner2023 {
  display: none;
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  left: 50%; /* 부모 요소의 가운데 정렬 */
  top: 50%; /* 부모 요소의 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬 보정 */
  width: 55px; /* 너비 설정 */
  aspect-ratio: 1 / 1;
  background: linear-gradient(white, white 50%, rgb(232, 243, 253) 50%, rgb(232, 243, 253)); /* 상하 50%씩 색상 변경된 선형 그라디언트 */
  border-radius: 50%; /* 원형으로 만듦 */
}

.inner2023::before {
  content: ''; /* 가상 요소 생성 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  left: 50%; /* 부모 요소의 가운데 정렬 */
  top: 50%; /* 부모 요소의 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬 보정 */
  width: 10px; /* 너비 설정 */
  aspect-ratio: 1 / 1;
  background: black; /* 배경 색상 설정 */
  border-radius: 50%; /* 원형으로 만듦 */
}

.inner2023::after {
  content: 'For You'; /* 텍스트 내용 설정 */
  width: 55px; /* 너비 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  font-family: 'decoline'; /* 폰트 설정 */
  color: #9400A5;
  font-weight: bold;
  font-size: 8px; /* 폰트 크기 설정 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  left: 50%; /* 부모 요소의 가운데 정렬 */
  top: 10px; /* 위에서 10px 떨어짐 */
  transform: translateX(-50%); /* X축 가운데 정렬 보정 */
}

.inner2023.active {
  display: block; /* 활성화 시 보임 */
}

.inner2024 {
  display: none;
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  left: 50%; /* 부모 요소의 가운데 정렬 */
  top: 50%; /* 부모 요소의 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬 보정 */
  width: 55px; /* 너비 설정 */
  aspect-ratio: 1 / 1;
  background: linear-gradient(white, white 50%, #CC99FF 50%, #CC99FF); /* 상하 50%씩 색상 변경된 선형 그라디언트 */
  border-radius: 50%; /* 원형으로 만듦 */
}

.inner2024::before {
  content: ''; /* 가상 요소 생성 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  left: 50%; /* 부모 요소의 가운데 정렬 */
  top: 50%; /* 부모 요소의 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬 보정 */
  width: 10px; /* 너비 설정 */
  aspect-ratio: 1 / 1;
  background: black; /* 배경 색상 설정 */
  border-radius: 50%; /* 원형으로 만듦 */
}

.inner2024::after {
  content: '(2024)'; /* 텍스트 내용 설정 */
  width: 55px; /* 너비 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  font-family: sans-serif; /* 폰트 설정 */
  font-size: 8px; /* 폰트 크기 설정 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  left: 50%; /* 부모 요소의 가운데 정렬 */
  top: 10px; /* 위에서 10px 떨어짐 */
  transform: translateX(-50%); /* X축 가운데 정렬 보정 */
}

.inner2024.active {
  display: block; /* 활성화 시 보임 */
}

.arm-holder {
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  width: 40px; /* 너비 설정 */
  aspect-ratio: 1 / 1;
  background: gray; /* 배경 색상 설정 */
  border-radius: 50%; /* 원형으로 만듦 */
  right: 20px; /* 오른쪽에서 20px 떨어짐 */
  top: 40px; /* 위에서 40px 떨어짐 */
  z-index: 1; /* z-index 추가 */
}

.arm-holder::after {
  content: ''; /* 가상 요소 생성 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  top: 50%; /* 부모 요소의 가운데 정렬 */
  left: 50%; /* 부모 요소의 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬 보정 */
  width: 30px; /* 너비 설정 */
  aspect-ratio: 1 / 1;
  background: #939393; /* 배경 색상 설정 */
  border-radius: 50%; /* 원형으로 만듦 */
}

.arm {
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  right: 13px; /* 오른쪽에서 13px 떨어짐 */
  top: 10px; /* 위에서 10px 떨어짐 */
  width: 60px; /* 너비 설정 */
  aspect-ratio: 6 / 11;
  border: 10px solid #939393; /* 회색 선 설정 */
  transform: skew(-20deg, -20deg); /* 기울임 효과 적용 */
  transform-origin: top right; /* 변환 기준점 설정 */
  border-left-color: transparent; /* 왼쪽 선 색상을 투명으로 설정 */
  border-top-color: transparent; /* 위쪽 선 색상을 투명으로 설정 */
  border-radius: 0 0 30% 0; /* 모서리 둥글게 설정 */
}

.arm::before {
  content: ''; /* 가상 요소 생성 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  width: 20px; /* 너비 설정 */
  aspect-ratio: 2 / 3;
  background: gray; /* 배경 색상 설정 */
  transform: skew(20deg, 20deg) rotate(75deg); /* 기울임과 회전 효과 적용 */
  top: 98px; /* 위에서 98px 떨어짐 */
  left: -10px; /* 왼쪽에서 10px 떨어짐 */
  border-radius: 20%; /* 모서리를 둥글게 설정 */
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%); /* 웹킷 브라우저용 클립 패스 설정 */
          clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%); /* 클립 패스 설정 */
}

.dial {
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  bottom: 20px; /* 아래에서 20px 떨어짐 */
  right: 20px; /* 오른쪽에서 20px 떨어짐 */
  width: 25px; /* 너비 설정 */
  aspect-ratio: 1 / 1;
  background: #333642; /* 배경 색상 설정 */
  border-radius: 50%; /* 원형으로 만듦 */
}

.dial::before {
  content: ''; /* 가상 요소 생성 */
  left: 50%; /* 부모 요소의 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬 보정 */
  top: 2px; /* 위에서 2px 떨어짐 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  width: 2px; /* 너비 설정 */
  aspect-ratio: 2 / 5;
  background: gray; /* 배경 색상 설정 */
  border-radius: 50%; /* 원형으로 만듦 */
}

:root {
  --cards: 4;
  --cardWidth: 220px; /* 세로 높이 대신 가로 너비 */
  --cardSidePadding: 1.5em; /* 상단 패딩 대신 측면 패딩 */
  --cardMargin: 220px; /* 수평 마진 대신 수직 마진 */
}

.container {
  height: 100%;
  overflow-x: scroll; /* 가로 스크롤 허용 */
  white-space: nowrap; /* 카드들을 한 줄로 정렬 */
  display: flex; /* 수평 정렬을 위해 flexbox 사용 */
  align-items: center; /* 컨테이너 내에서 수직 가운데 정렬 */
  scroll-snap-type: x mandatory; /* scroll-snap 속성 추가 */
}

#cards {
  list-style: none;
  padding-top: 0;
  display: inline-block; /* inline-block을 사용하여 가로로 정렬 */
  white-space: nowrap; /* 카드들을 한 줄로 정렬 */
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
}

#card1 {
  --index: 1;
}

#card2 {
  --index: 2;
}

#card3 {
  --index: 3;
}

#card4 {
  --index: 4;
}

.card {
  display: inline-block; /* 카드들을 가로로 정렬 */
  position: sticky;
  left: 0; /* 가로 스크롤 고정 위치를 왼쪽으로 설정 */
  padding-left: calc(var(--index) * var(--cardSidePadding));
  margin-right: var(--cardMargin); /* 카드 간 간격 설정 */
  vertical-align: top; /* 카드들이 세로로 정렬되도록 설정 */
  scroll-snap-align: start; /* scroll-snap 속성 추가 */
}

#card1 .card-body {
  background-color: rgb(232, 243, 253);
}

#card1::before {
  content: 'For You (2023)'; /* 가상 요소 생성 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  left: 55%; /* 부모 요소의 가운데 정렬 */
  top: 20%; /* 부모 요소의 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬 보정 */
  font-family: 'decoline'; /* 폰트 설정 */
  color: #9400A5;
  font-size: 25px; /* 폰트 크기 설정 */
  font-weight: bold;
  text-align: center; /* 텍스트 중앙 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px; /* 너비 설정 */
  aspect-ratio: 18 / 4;
  background: white; /* 배경 색상 설정 */
  border-radius: 5px; /* 둥근 모서리 설정 */
}

#card2 .card-body {
  background-color: #CC99FF;
}

#card2::before {
  content: '(2024)'; /* 가상 요소 생성 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  left: 60%; /* 부모 요소의 가운데 정렬 */
  top: 20%; /* 부모 요소의 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬 보정 */
  font-family: sans-serif; /* 폰트 설정 */
  font-size: 25px; /* 폰트 크기 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px; /* 너비 설정 */
  aspect-ratio: 18 / 4;
  background: white; /* 배경 색상 설정 */
  border-radius: 5px; /* 둥근 모서리 설정 */
}

#card3 .card-body {
  background-color: #000000;
}

#card3::before {
  content: '(2025)'; /* 가상 요소 생성 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  left: 60%; /* 부모 요소의 가운데 정렬 */
  top: 20%; /* 부모 요소의 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬 보정 */
  font-family: sans-serif; /* 폰트 설정 */
  font-size: 25px; /* 폰트 크기 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px; /* 너비 설정 */
  aspect-ratio: 18 / 4;
  background: white; /* 배경 색상 설정 */
  border-radius: 5px; /* 둥근 모서리 설정 */
}

#card4 .card-body {
  background-color: #000000;
}

#card4::before {
  content: '(2026)'; /* 가상 요소 생성 */
  position: absolute; /* 부모 요소를 기준으로 절대 위치 설정 */
  left: 60%; /* 부모 요소의 가운데 정렬 */
  top: 20%; /* 부모 요소의 가운데 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬 보정 */
  font-family: sans-serif; /* 폰트 설정 */
  font-size: 25px; /* 폰트 크기 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px; /* 너비 설정 */
  aspect-ratio: 18 / 4;
  background: white; /* 배경 색상 설정 */
  border-radius: 5px; /* 둥근 모서리 설정 */
}

.card-body {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  width: var(--cardWidth); /* 카드의 너비를 설정 */
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}